@if (raceModel) {
  @if (betFailed) {
    <ngb-alert class="mb-3" type="danger" (closed)="betFailed = false">
      The race is already started or finished
    </ngb-alert>
  }

  <h1>{{ raceModel.name }}</h1>
  <p>{{ raceModel.startInstant | fromNow }}</p>
  <a class="btn btn-primary" [routerLink]="['/races', raceModel.id, 'live']">Watch live!</a>
  <div class="py-2">Click to bet on your favorite pony</div>

  <div class="row">
    @for (pony of raceModel.ponies; track pony.id) {
      <div class="col-12 col-md-2" [class.selected]="isPonySelected(pony)">
        <pr-pony [ponyModel]="pony" (ponyClicked)="betOnPony(pony)"></pr-pony>
      </div>
    }
  </div>
}
