<h1>{{ raceModel?.name }} </h1>

@if (error) {
  <ngb-alert type="danger">A problem occurred during the live.</ngb-alert>
}

<div id="live-race">
  @switch (raceModel?.status) {
    @case ('FINISHED') {
      <div>
        @if (!winners.length) {
          <div>The race is over.</div>
        } @else {
          @if (betWon) {
            <div class="alert alert-success">You won your bet!</div>
          } @else if (raceModel?.betPonyId) {
            <div class="alert alert-warning">You lost your bet.</div>
          }
          <div>Most Valuable Ponies</div>
          <div class="row">
            @for (winner of winners; track winner.id) {
              <div class="col-12 col-md-2" [class.selected]="winner.id === raceModel?.betPonyId">
                <pr-pony [ponyModel]="winner"/>
              </div>
            }
          </div>
        }
      </div>
    }
    @case ('PENDING') {
      <div>
        <div>The race will start {{ raceModel?.startInstant | fromNow }}</div>
        <div class="row">
          @for (pony of raceModel?.ponies; track pony.id) {
            <div class="col-sm-2" [class.selected]="pony.id === raceModel?.betPonyId">
              <pr-pony [ponyModel]="pony"/>
            </div>
          }
        </div>
      </div>
    }
    @case ('RUNNING') {
      <div>
        <div style="margin-left: 95%; margin-bottom: 5px">
          <span class="fa fa-flag" style="font-size: x-large"></span>
        </div>
        <div style="width: 95%; border-right: 3px dotted lightgray">
          @for (pony of poniesWithPosition; track pony.id) {
            <div class="pony-wrapper" [class.selected]="pony.id === raceModel?.betPonyId"
                 [style.marginLeft.%]="pony.position - 5">
              <pr-pony [ponyModel]="pony" [isRunning]="true" [isBoosted]="pony.boosted" (ponyClicked)="onClick(pony)"/>
            </div>
          }
        </div>
      </div>
    }
  }
</div>


